.search-box{
    -fx-background-color:#FFFFFF;
    -fx-background-radius: 100;
}

.transle-box{
    -fx-background-color: rgba(0,0,0,0);
}

.buttom-search{
    -fx-background-color:#4FBCFC;
    -fx-background-radius:30;
}

.buttom-loa{
    -fx-background-color:#4FBCFC;
    -fx-background-radius:360;
}

.right-bar{
-fx-background-color: #FC7F87;
}
.logo-bar{
-fx-background-color: #FC7F87;
}
.tasbar{
-fx-background-color: #FFFFFF;
}

.main-background{
-fx-background-color: #FFFFFF;
-fx-background-radius: 20;
}